*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    width: 350px;
    height: 450px;
    padding: 9px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.calc-display{
    width: 330px;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.calc-display-input{
    width: 318px;
    height: 29px;
    border: 1px solid black;
}

.calc-display-result{
    width: 318px;
    height: 58px;
    border: 1px solid black;
}

.calc-keypad{
    width: 330px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calc-keypad-row{
    width: 330px;
    height: 55px;
    display: flex;
    gap: 14px;
}

.calc-keypad-row-btn{
    width: 72px;
}

#clear-btn,
#delete-btn{
    width: 158px;
}